<launch>
  <master auto="start"/>

  <node pkg="roborts_serial" type="serial_node" name="serial" output="screen" respawn="true"/>

 <node pkg="roborts_vision" type="roborts_vision_node" name="hero_big_gimbal" output="screen" respawn="true">
     <!--相机参数-->
    <param name="camera_type" type="string" value="mercure"/> 
    <param name="video_path" type="string" value="../armor_20190711_025120.avi"/>  

    <param name="resolution_width"  type="int" value="1600"/>
    <param name="resolution_height" type="int" value="900"/>

     <!--云台参数-->
    <param name="pitch_enable" type="string" value="yes"/>
    <param name="gimbal_x"  type="double" value="0"/>
    <param name="gimbal_y"  type="double" value="0"/>
    <param name="gimbal_z"  type="double" value="0.15"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="gimbal_link_camera_link_broadcaster"
     args="0.0  -0.01 0.1 0.0  0.0  0.0  gimbal_link camera_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_uwb_link_broadcaster"
     args="-0.18 -0.28 0.35  0.0  0.0  0.0  base_link uwb_link" />
    
</launch>
